


header{
font-family: monospace;
color: white}


.container1 {
display: grid; 
grid-template-rows: 12fr 12fr 12fr;
grid-template-columns: auto auto auto auto;
margin: 0 auto;
height: 100%;
text-align: center;
vertical-align: middle;
padding: 0px}

.box1 {
background-color: blueviolet; 
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 5;
font-size: 20px;
align-items: center;}

.box2 {
background-color: #c2fc3a; 
grid-row-start: 2;
grid-row-end: 3;
grid-column-start: 1;
grid-column-end: 3;
font-size: 20px;}

.box3 {
background-color: orange; 
grid-row-start: 2;
grid-row-end: 3;
grid-column-start: 3;
grid-column-end: 5;
font-size: 20px;}

.box4 {
background-color: turquoise; 
grid-row-start: 3;
grid-row-end: 4;
grid-column-start: 1;
grid-column-end: 4;
font-size: 20px;}

.box5 {
background-color:blueviolet; 
grid-row-start: 3;
grid-row-end: 4;
grid-column-start: 4;
grid-column-end: 5;
font-size: 20px;}




.container2 {
display: grid; 
grid-template-rows: 12fr 12fr 6fr;
grid-template-columns: Auto auto auto;
height: 100%;
text-align: center;
padding:0px}

.box6 {
background-color: #c2fc3a; 
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 2;
font-size: 20px;}

.box7 {
background-color: orange; 
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 2;
grid-column-end: 3;
font-size: 20px;}

.box8 {
background-color: #c2fc3a; 
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 3;
grid-column-end: 4;
font-size: 20px;}

.box9 {
background-color: turquoise; 
grid-row-start: 2;
grid-row-end: 3;
grid-column-start: 1;
grid-column-end: 4;
font-size: 20px;}

.box10 {
background-color:blueviolet; 
grid-row-start: 3;
grid-row-end: 4;
grid-column-start: 1;
grid-column-end: 4;
font-size: 20px;}